.container_forgotpassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    height: 100vh;
}

.container_content_forgotpassword {
    display: flex;
    flex-direction: column;
    width: 480px;
    /* background-color: beige; */

}

.container_img_form_email {
    display: flex;
    /* background-color: black; */
    justify-content: center;
}

.img_forgot_password {
    width: 80px;
    height: 80px;
}

.title_forgot_password {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 3rem;
}

.container_text_forgot_password {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

.text_form_email {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.btn_form_Email {
    margin-top: 3rem;
    width: 480px;
    height: 51px;
    background: #2E3866;
    color: #FFFFFFFF;
    border-radius: 32px;

}

.btn_form_Email:hover {
    border: 1px solid #2E3866;
    background: #ffffff;
    color: #2E3866;
}

.text_set_new_password {
    text-align: center;
}

.text2_set_new_password {
    margin-top: 2rem;
    text-align: center;
}

.container_form_verify_email {
    display: flex;
    flex-direction: column;

    /* background-color: aqua; */
}

.text2_verify_email {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #6B7487;
}