#carousel-testi-next
.carousel-control-next-icon{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/></svg>") !important;    
}

#carousel-testi-prev .carousel-control-prev-icon{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/></svg>") !important;    
}

.carousel-control-next, .carousel-control-prev{
    top: 8rem !important;
}

#carousel-testi-next.carousel-control-next{
    right: 33% !important;
}

#carousel-testi-prev.carousel-control-prev{
    left: 44% !important;
}